<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon"  href="{{ url_for('static', filename='iconeweb.ico') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='mes_styles.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" >
    <title>Maraîcher</title>
</head>
<body>

{#{{ typemarche }}#}
<h1>listes des types de marchés<img src="{{ url_for('static', filename='image_iut.jpeg') }}" alt="image iut"  /></h1>

<a href="/type-marche/add" >ajouter un type de marché</a>

{% if typemarche | length >= 1 %}
    <table>
        <tr>
            <th>ID</th><th>Nom</th><th>Lieu</th><th>Nombre de places</th><th>Surface</th>
        </tr>
        {% for typemarches in typemarche %}
            <tr>
                {# commentaires : autre notation possible, on affiche un element du dictionnaire
                <td>{{ typemarches['id'] }}</td><td>{{ typemarches['nom'] }}</td><td>{{ typemarches['groupe'] }}</td>
            #}
                <td>{{ typemarches.id_type_marche }}</td>
                <td>{{ typemarches.Libelle_type_marche }}</td>
                <td>{{ typemarches.id_lieu}}</td>
                <td>{{ typemarches.nombre_place_type_marche}}</td>
                <td>{{ typemarches.surface_type_marche}}</td>
                <td>
                      <a href="/type-marche/edit?id_type_marche={{ typemarches.id_type_marche }}">editer</a>&nbsp;
                      <a href="/type-marche/delete?id={{ typemarches.id_type_marche }}" >supprimer</a>
                  </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h2> la liste des types de marchés est vide</h2>
{% endif %}

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
</body>
</html>
