<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ url_for('static', filename='iconeweb.ico') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='mes_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <title>Participations</title>
</head>
<body>
{% include('_nav.html') %}

<h1>Liste des participations <img src="{{ url_for('static', filename='image_iut.jpeg') }}" alt="image iut" /></h1>

<a href="/participation/add">Ajouter une participation</a>

{% if participations | length >= 1 %}
    <table>
        <tr>
            <th>Nom</th><th>Prénom</th><th>Marché</th><th>Date</th><th>Duree</th><th>Prix</th>
        </tr>
        {% for ligne in participations %}
            <tr>
                <td>{{ ligne.nom }}</td>
                <td>{{ ligne.prenom }}</td>
                <td>{{ ligne.Libelle_type_marche }}</td>
                <td>{{ ligne.date_participation }}</td>
                <td>{{ ligne.duree }}</td>
                <td>{{ ligne.prix_place }}</td>
                <td>
                    <a class="btn btn-primary" href="/participation/edit?id_participation={{ ligne.id_participation }}">éditer</a>
                    <a class="btn btn-danger" href="/participation/delete?id_participation={{ ligne.id_participation }}">supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>La liste des participations est vide</h2>
{% endif %}

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
</body>
</html>