{% extends 'layout.html' %}

{% block title %}
    <title>Affichage des Ventes</title>
{% endblock %}

{% block body %}
    <div class="mid_show_h3">
<h3>Ventes</h3>
        </div>
<div class="mid_show_btn">
    <div class="btn-add">
<a class="btn btn-primary" href="/ventes/add">Ajouter une vente</a>&nbsp;
    </div>
    </div>
    <br><br>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Maraicher</th><th>Date</th><th>Marché</th><th>Produit</th><th>Quantité</th>
        </tr>
    </thead>
    <tbody>
    {% if ventes | length >= 1 %}
        {% for ligne in ventes %}
           <tr>

                  <td>{{ ligne.nom}}</td>
                  <td>{{ ligne.date_vente}}</td>
                  <td>{{ ligne.Libelle_type_marche}}</td>
                  <td>{{ ligne.libelle_produit}}</td>
                  <td>{{ ligne.quantitee}}</td>
                  <td>
                      <a class="btn btn-primary" href="/ventes/edit?id={{ ligne.id }}">editer</>
                      <a class="btn btn-danger" href="/ventes/delete?id={{ ligne.id }}" >supprimer</>
                  </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      Pas de ventes
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}
