<link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light bg-light">

     <ul class="custom-nav-list">
    <li class="custom-nav-item">
      <a class="custom-nav-link" href="/"><strong>Accueil</strong></a>
    </li>
    <li class="custom-nav-item custom-dropdown">
      <a class="custom-nav-link" href="#">Participation (Mathis D.)</a>
      <ul class="custom-dropdown-menu">
        <li><a class="custom-dropdown-item" href="/participations/show">Afficher les participations</a></li>
        <li><a class="custom-dropdown-item" href="/participations/add">ETAT : types des participations</a></li>
      </ul>
    </li>
    <li class="custom-nav-item custom-dropdown">
      <a class="custom-nav-link" href="#">Produit (Ethan F.)</a>
      <ul class="custom-dropdown-menu">
        <li><a class="custom-dropdown-item" href="/produit/show">Afficher les produits</a></li>
        <li><a class="custom-dropdown-item" href="/produit/add">Ajouter des produits</a></li>
      </ul>
    </li>
    <li class="custom-nav-item custom-dropdown">
      <a class="custom-nav-link" href="#">Ventes (Antoine D.)</a>
      <ul class="custom-dropdown-menu">
        <li><a class="custom-dropdown-item" href="/ventes/show">Afficher les ventes</a></li>
        <li><a class="custom-dropdown-item" href="/ventes/add">Ajouter des ventes</a></li>
      </ul>
    </li>
    <li class="custom-nav-item custom-dropdown">
      <a class="custom-nav-link" href="#">Types marchés (Baptiste D.)</a>
      <ul class="custom-dropdown-menu">
        <li><a class="custom-dropdown-item" href="/type-marche/show">Afficher les types de marchés</a></li>
        <li><a class="custom-dropdown-item" href="/type-marche/etat">ETAT : types de marchés</a></li>
      </ul>
    </li>
  </ul>

    </div>
  </div>
</nav>
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="../static/bootstrap/js/bootstrap.js"></script>
<hr>